* {
    box-sizing: border-box;
}

body {
   background: url("assets/space6.jpg") no-repeat center center fixed;
   background-size: cover;
   color: white;
   font-family: Arial, Helvetica, sans-serif; 
  
}

/* Style the header */
.header {
    /*background: url("assets/space2.jpg") no-repeat center center fixed;*/
    background-size: cover;
    color: white;
    margin-bottom: 25px;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
	
    
}
h2 {
    text-align: center;
    font-family: 'Alegreya';font-size: 150%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.pp {
  margin: 50px 150px;
  padding: 50px;
  border: 1px solid white;
  border-radius: 12px;
  text-align: justify;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  
}

/*Nav bar */
  ul {
    list-style-type: none;
    margin-bottom: 5px;
    padding: 0;
    overflow: hidden;
    background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    font-size: 20px;
    color: purple;
    
    
}
footer {
    padding: 10px;
    margin-top: 20px;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:rgba(0, 0, 0, 0.5);
 
}
