* {
    box-sizing: border-box;
}

body {
   background: url("assets/space6.jpg") no-repeat center center fixed;
   background-size: cover;
   color: white;
   font-family: Arial, Helvetica, sans-serif; 
  
}

h5 {
	text-align: center;
}
.header {

    background-size: cover;
    color: white;
    margin-bottom: 25px;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}	

/*Nav bar */
 ul {
    list-style-type: none;
    margin-bottom: 5px;
    padding: 0;
    overflow: hidden;
    background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    font-size: 20px;
    color: purple;
    
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 50%;  
    
}
footer {
    padding-top: 10px;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:rgba(0, 0, 0, 0.5);
 
}